.formu-transferencia{
    margin-top: 5vh;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.formu-transferencia h3{
    text-align: center;
    padding: 5px;
}
.formu-transferencia form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.formu-transferencia button{
    padding: 10px 0px 10px 0px;
    width: 250px;
    background-color: grey;
    color: #006a4b;
    border-radius: 5px;
    border: none;
    margin: auto;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
} 
.infoUsuario{
    display: flex;
    position: absolute;
    top: 10vh;
}
.eti-in{
    display: flex;
}
.in input{
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 500px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #006a4b;
    background: transparent;
    margin-bottom: 4vh;
    margin-top: 1vh;
    outline: none;
    cursor: no-drop;
}
/*inputs*/

.group {
    position: relative;
    margin-top: 2vh;
    margin-bottom: 4vh;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 500px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    
   }
   
   .input:focus {
    outline: none;
   }
   
   label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #006a4b;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 500px;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #006a4b;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after,
   .input:focus ~ .barError:before, .input:focus ~ .barError:after{
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }

   .barError {
    position: relative;
    display: block;
    width: 500px;
   }
   
   .barError:before, .barError:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: red;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .barError:before {
    left: 50%;
   }
   
   .barError:after {
    right: 50%;
   }

   #enviar{
    width: 200px;
    padding: 10px;
    background-color: #eac839;
    color: #006a4b;
    display: none;
    border-color: #006a4b;
  }
  .recargaVirtual{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .recarga{
    width: 200px;
    outline: none;
    border-color: #006a4b;
    background-color: white;
    color: #006a4b;

  }
  
